
    html{
        font-size: 12px;
    }
body{
  
}
main{
    font-family: monospace;
}
button, input, textarea,select{
    font: inherit;
}
h1,h2{color: blue;}
p{color: red;}

.gray{
    color: gray;
}
.highlight{
    text-transform: uppercase;
    background-color: gold;
}
#second{
    font-style: italic;
}
